<form>
    <fieldset>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="name" class="form-control" id="name" placeholder="Enter name">
          <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
        </div>
        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="number" class="form-control" id="phoneNumber" placeholder="Enter Phone Number">
        </div>
        <div class="form-group">
          <label for="pidInput">Pig Breed</label>
          <input type="string" class="form-control" id="pidInput" placeholder="Enter the Pig's Breed">
        </div>
        <div class="form-group">
          <label for="pidInput">Pig ID</label>
          <input type="number" class="form-control" id="pidInput" placeholder="Enter Pid ID behind the Pig">
        </div>
        <div class="form-group">
          <label for="pidInput">Pig ID</label>
          <input type="number" class="form-control" id="pidInput" placeholder="Enter Pid ID behind the Pig">
        </div>
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Extra information</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="submit" class="btn btn-danger" style="float: right" routerLink="/">Back</button>
    </fieldset>
  </form>   